/* index.css */

/* Заголовки */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    /* Дополнительные стили для заголовков */
}

/* Основной текст и элементы интерфейса */
body, p, a, button {
    font-family: 'Roboto', sans-serif;
    /* Дополнительные стили для основного текста и элементов */
    color: #2c3e50; /* Текстовый цвет, схожий с vsthemes.org */
}
